.inputfield {
  position: absolute;
  padding-top: 0px;
  width: 80%;
  margin: 0 auto;
}
.inputfield input {
  line-height: 35px;
  width: 60%;
  font-size: 20px;
}
.inputfield button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #0095ff;
  color: white;
  border: none;
  font-size: 20px;
  margin: 4px 8px;
}
