.Add,
.Save {
  position: absolute;
  padding-top: 0px;
  width: 100%;

  margin: 0 auto;
}
.Add input {
  line-height: 35px;
  width: 84%;
  border-radius: 16px;
  border: 2px solid #ededed;
  padding: 0 16px;
  font-size: 20px;
}
.search button {
  background: url(../assets/search.png) no-repeat;
  height: 40px;
  width: 40px;
  margin: 4px 14px;
  font-size: 0px;
  border: none;
  background-size: cover;
}

.search {
  float: right;
  width: 40%;
  margin: 20px 0;
}

.search input {
  border-radius: 16px;
  border: 2px solid #ededed;
  line-height: 28px;
  padding: 0 8px;
  width: 80%;
}

.Add button,
.Save button {
  line-height: 35px;
  width: 100px;
  border-radius: 16px;
  background-color: #0095ff;
  color: white;
  border: none;
  font-size: 20px;
  margin: 4px 14px;
}
