.task {
  text-decoration: none;
  width: 75%;
  margin: 25px auto;
  border-bottom: 2px solid #ededed;
}

.tasks.complete {
  text-decoration: line-through;
}

.tasks {
  padding: 0 0px;
  width: 65%;
  float: left;
}

.buttons {
  width: 30%;
  float: right;
}

.clearfix {
  content: "";
  overflow: hidden;
}
.task input {
  margin: 25px auto;
  line-height: 40px;
  width: 60%;
  font-size: 16px;
}

.Complete {
  background: url(../assets/complete.png) no-repeat;
  height: 40px;
  width: 40px;
  background-size: cover;
  border: none;
  margin: 0 4px;
  border-radius: 50%;
}
.Undo {
  background: url(../assets/incomplete.png) no-repeat;
  height: 40px;
  width: 40px;
  background-size: cover;
  border: none;
  margin: 0 4px;
  border-radius: 50%;
}
