.task {
  text-decoration: none;
  width: 100%;
  margin: 8px auto;
  line-height: 45px;
  border-radius: 10px;
  background: #f0eded;
}

.tasks.complete {
  text-decoration: line-through;
}

.tasks {
  padding: 0 0px;
  width: 65%;
  float: left;
}

.buttons {
  width: 25%;
  margin: 10px 0;
  float: right;
}

.clearfix {
  content: "";
  overflow: hidden;
}
.task input {
  float: left;
  padding: 0 8px;
  margin: 12px 0;
  line-height: 40px;
  width: 60%;
  font-size: 16px;
}

.Complete {
  background: url(../assets/complete.png) no-repeat;
  height: 40px;
  width: 40px;
  background-size: cover;
  border: none;
  margin: 0 4px;
  border-radius: 50%;
}
.Undo {
  background: url(../assets/incomplete.png) no-repeat;
  height: 40px;
  width: 40px;
  background-size: cover;
  border: none;
  margin: 0 4px;
  border-radius: 50%;
}
