.App {
  text-align: center;
  position: relative;
  margin: 0 auto;
  max-width: 1290px;
}

.header h1 {
  color: #0095ff;
  font-size: 50px;
  float: left;
}

.clearfix {
  content: "";
  overflow: hidden;
}
